page-login{
    ion-content.has-bg-img.content.content-md{
        // position: relative !important;
        
    }
    ion-content.has-bg-img.content.content-md:after {
        content:'' !important;
        background: url('../assets/imgs/backgorund.jpg') center center !important;
        position: absolute !important;
        top:0px !important;
        left: 0px !important;
        width:100% !important;
        height:100% !important;
        z-index:-1 !important;
        opacity: 0.1 !important; /* Here is your opacity */
    }
    .logo-login{
        margin:50px auto;
        width: 60%;
        display: block;
    } 
    .logo-title{
        margin:0 auto;
        display: block;
        width: fit-content;
        color: color($colors, primary);
    } 
    
}