    @font-face {
        font-family: 'gunplay rg';
        src: url('../assets/fonts/gunplay rg.ttf');
        font-weight: normal;
        font-style: normal;
      }
page-login{
    ion-content.has-bg-img.content.content-md{
        // position: relative !important;
        
    }
    ion-content.has-bg-img.content.content-md:after {
        content:'' !important;
        background: url('../assets/imgs/backgorund.jpg') center center !important;
        position: absolute !important;
        top:0px !important;
        left: 0px !important;
        width:100% !important;
        height:100% !important;
        z-index:-1 !important;
        opacity: 0.1 !important; /* Here is your opacity */
    }
    .logo-login{
        padding-top: 20%;
        margin:20px auto;
        width: 40%;
        display: block;
    } 
    .logo-title{
        font-family: "gunplay rg";
        margin:0 auto;
        display: block;
        width: fit-content;
        font-size: 50px;
        color: color($colors, primary);
    } 
    .submit-btn{
        border-radius: 5px;
    }
}