@font-face {
    font-family: 'century gothic';
    src: url('../assets/fonts/Century Gothic.ttf');
    font-weight: normal;
    font-style: normal;
  }
page-home {
    ion-content{
        background: rgba(158, 111, 11, 0.74)
    }
    .logo-home{
        position: absolute;
        width: 75px;
        top: 10px;  
        bottom: 0px;
        left: 280px;
        display: block;
    }
    h3{
        padding-top: 10%;
        font-family: "century gothic";
        margin:0 auto;
        display: block;
        width: fit-content;
        font-size: 35px;
        color: color($colors, primary);
    }
    h4{
        padding-block-start: 15%;
        padding-block-end: 5%;
        font-family: "century gothic";
        margin:0 auto;
        display: block;
        width: fit-content;
        font-size: 20px;
        color: color($colors, primary);
    }
    .submit-btn{
        font-family: "century gothic";
        font-size: 20px;
        border-radius: 5px;
        background: color($colors, secondary);
        display: inline-block;
        }
    .img{
        
    }
}
