@font-face {
    font-family: 'century gothic';
    src: url('../assets/fonts/Century Gothic.ttf');
    font-weight: normal;
    font-style: normal;
  }
page-diary{

    ion-item-sliding .item{
        background-color: #e6d2c7;
    }

    ion-item-divider {
        min-height: 10px;
        height: 10px;
    }

    .action-sheets-basic-page {
        .ion-md-share {
            color: #ED4248;
        }
        .ion-md-arrow-dropright-circle {
            color: #508AE4;
        }
        .ion-md-heart-outline {
            color: #31D55F;
        }
        .action-sheet-cancel ion-icon,
        .action-sheet-destructive ion-icon {
            color: #757575;
        }
    }

    //.label, .item-inner{
    //    margin: 0px !important;
    //    padding: 0px !important;
    //}

    //ion-card, .card, .card-md{
    //    margin-right: 0px !important;
    //    margin-left: 0px !important;
    //}

    ion-item-options{
        display: flex;
        align-items: center;
    }
    
    .list-md ion-item-options{
        border-bottom: none;
    }
    .submit-btn{
        font-family: "century gothic";
        font-size: 20px;
        border-radius: 5px;
        background: color($colors, secondary);
    }
    h2{
        font-family: "century gothic";
        display: block;
        width: fit-content;
        font-size: 20px;
        font-weight: bold;
        color: color($colors, primary);
    }
    .escrita{
        font-family: "century gothic";
        display: block;
        width: fit-content;
        font-size: medium;
        color: color($colors, primary);
    }
}