<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row justify-content-between align-items-center>
                <span *ngIf="title">{{title}}</span>
                <img class="logo-artigo" src="assets/imgs/logo.png" alt="logo">
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>
      
<ion-content class="outer-content">

    <div padding-horizontal>
        <h2 *ngIf="article">{{article.title}}</h2>
    </div>
    <ion-row class="escrita" padding-horizontal text-justify *ngIf="article">{{article.article}}</ion-row>
    
</ion-content>