<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Anotação</ion-title>
      <img class="logo-artigo" src="assets/imgs/logo.png" alt="your image">
    </ion-navbar>
  </ion-header>
  
  <ion-content class="outer-content">

    <div padding-horizontal>  
       
      <h3 ion-text color="primary">Título</h3>
      <ion-row class="escrita">{{annotation.title}}</ion-row>

      <h3 ion-text color="primary" *ngIf="annotation.cafeteria">Cafeteria</h3>
      <ion-row class="escrita">{{annotation.cafeteria}}</ion-row>
          
      <h3 ion-text color="primary" *ngIf="annotation.cafe">Café</h3>
      <ion-row class="escrita">{{annotation.cafe}}</ion-row>
          
      <h3 ion-text color="primary" *ngIf="annotation.barista">Barista</h3>
      <ion-row class="escrita">{{annotation.barista}}</ion-row>
          
      <h3 ion-text color="primary" *ngIf="annotation.harmonizacao">Harmonização</h3>
      <ion-row class="escrita">{{annotation.harmonizacao}}</ion-row>
  
      <h3 ion-text color="primary" *ngIf="annotation.complemento">Complemento</h3>
      <ion-row class="escrita">{{annotation.complemento}}</ion-row>
  
      <h3 ion-text color="primary" *ngIf="annotation.metodoPreparo">Método de Preparo</h3>
      <ion-row class="escrita">{{annotation.metodoPreparo}}</ion-row>
  
      <h3 ion-text color="primary" *ngIf="annotation.descricao">Descrição</h3>
      <ion-row class="escrita">{{annotation.descricao}}</ion-row>

      <div padding-top>
        <button ion-button class="editar" color="primary" (click)='presentModal($event)'>Editar</button>
        <button ion-button class="excluir" color="danger" float-right (click)='annotationDeleteClickEvent($event)'>Deletar</button>
      </div>

    </div>   

  </ion-content>